<div class="dashboard-container">
    <!-- (pageChange)="handlePageChange($event)" -->
    <app-nav-sidebar 
      [activePage]="'Dashboard'"
    >
    </app-nav-sidebar>
  
  
    <!-- Main Content Area -->
    <main class="main-content">
      <app-top-bar [currentPage]="'Dashboard'"></app-top-bar> 
  
      <!-- Dashboard Content -->
      <div class="dashboard-content">
        
        <!-- Search Bars -->
        <div class="search-bars">
          <input type="text" placeholder="Search by skill, name, or designation" [ngModel]="searchTerm()" (ngModelChange)="updateSearchTerm($event)">
          <input type="number" placeholder="Number of employees" [ngModel]="employeeCount()" (ngModelChange)="updateEmployeeCount($event)">
          <input type="text" placeholder="Location" [ngModel]="locationFilter()" (ngModelChange)="updateLocationFilter($event)">
          <button class = "search-button">search</button>
        </div>
  
        <!-- Employee Table -->
        <table class="employee-table">
          <thead>
            <tr>
              <th>SELECT</th>
              <th>NAME</th>
              <th>SKILLS</th>
              <th>DESIGNATION</th>
              <th>LOCATION</th>
            </tr>
          </thead>
          <tbody>
            @for (employee of filteredEmployees(); track employee.name) {
              <tr>
                <td><input type="checkbox" [ngModel]="employee.selected" (ngModelChange)="updateEmployeeSelection(employee, $event)"></td>
                <td>{{ employee.name }}</td>
                <td>{{ employee.skills }}</td>
                <td>{{ employee.designation }}</td>
                <td>{{ employee.location }}</td>
              </tr>
            }
          </tbody>
        </table>
  
  <!-- Pagination -->
  <div class="pagination-container">
    <button (click)="previousPage()" [disabled]="currentPage() === 1">Previous</button>
    <span>Page {{ currentPage() }} of {{ totalPages() }}</span>
    <button (click)="nextPage()" [disabled]="currentPage() === totalPages()">Next</button>
  </div>
  
        <!-- Add to Team Button -->
        <div class="add-to-team">
          <button (click)="addToMyTeam()">Add to My Team</button>
          <span class="team-count">{{ selectedCount() }}</span>
        </div>
      </div>
    </main>
  </div>